@{
    ViewData["Title"] = "About";
}
<div class="jumbotron">
    <h2>Kontakt</h2>
    <h2>Kas teil on vastuseta küsimusi?</h2>
    <h2>Võta meiega ühendust!</h2>
    </div>
    <address>
        <h4>Tööaeg:</h4>
        <p>E-P: 24/7</p>
        <br />
        <h4>Address:</h4>
        <p>Harjumaa, Tallinn linn, Parda tn 10, 10151</p>
        <p title="Phone">Tel: +372 600 0160</p><br />
        <strong>Email: </strong><a href="velo@gmail.com">info@citybee.ee</a>
        <br />
        
    </address>
    <iframe src="https://maps.google.com/maps?ll=59.438829,24.763086&z=14&t=m&hl=et-EE&gl=US&mapclient=apiv3" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>